/* Styles globaux */
body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* background-color: #F0EEEE; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
    line-height: 1.5;

}

h1, h2, h3, .header-top, .header-nav__container {
    font-family: 'Lora', serif;
}

/* MAKE SURE NO TRANSITION HAPPENS WHILE PAGE IS LOADING */
.preload {
    transition:none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

/* JE SAIS PAS SI JE GARDE LE BODY CONTAINER A 80% */
.body-container {
    width: 100%;
}

/* HEADER */

.header-top {
    display:flex;
    background-color:#F2EAE4;
    /* background-color:#EEE2DC; */
    /* #F0EEEE; */
    padding:1rem;
}

.header-top__left {
    width:50%;
}

.logo {
    display: flex;
    font-size: 2.5em;
    font-weight: bold;
    /* margin-bottom: 1rem ; */
    align-items: baseline;
}

.logo__carpet {
    margin-left: 0.5rem;
    width: 3rem;
}
.logo__social_media {
    width: 2em;
}

.header-top__tagline-presta {
    font-weight: bold;
    font-style: italic;
    font-size:1.1em;
}

.header-top__right {
    width:50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-top__tagline-spe {
    width: 100%;
    display:flex;
    justify-content: center;
    font-weight: bold;
    font-size:1.1em;
}


/* BUTTONS */

.button {
    padding:0.6rem;
    font-weight: bold;
    text-shadow: none;

    color: #494949 !important;
    text-decoration: none;
    background: #ffffff;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

/* .button--red {
    background-color: #A10B0B;
    color: white;
} */

.button--red:hover, .button--red:active  {
    background-color: #A10B0B;
    color: #ffffff !important;
    border-color: #A10B0B !important;
    transition: all 0.4s ease 0s;
}

.button--dark-red:hover, .button--dark-red:active {
    background-color: #340404;
    color: #ffffff !important;
    border-color: #340404 !important;
    transition: all 0.4s ease 0s;
}

.button--grey:hover, .button--grey:active {
    background-color: #A79E9E;
    color: black !important;
    border-color: #A79E9E !important;
    transition: all 0.4s ease 0s;
}

.button--gold:hover, .button--gold:active {
    background-color: #C9C68B;
    color: black !important;
    border-color: #C9C68B !important;
    transition: all 0.4s ease 0s;
}

.button--header {
    color: #ffffff !important;
    background-color: #A10B0B;
    border-color: #A10B0B !important;
}
.button--header:hover, .button--header:active {
    background-color: #494949;
    color: #A10B0B !important;
    background: #ffffff;
    border-color: #A10B0B !important;
}



/* NAVIGATION */

.header-sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    z-index:9;
}

.header-nav__sub-container {
    display: flex;
    justify-content: space-around;
    padding: 0.8rem;
    background-color:black; 
    /* #5D5C61; */
    /* black */
}

.header-nav__sub-container__item {
    color: #b2b2b2;
    font-weight: bold;
    font-size:1.2em;
    /* text-decoration: underline; */
    /* text-decoration: italic; */
    transition: color .3s ease 0s;
}

.header-nav__sub-container__item:hover, .header-nav__sub-container__item:active {
    color: white;
}


/* COVID */
.header-covid {
    background-color: #FEE1E1;
    display: flex;
    justify-content: center;
    padding: 0.5rem;

    color: #CF4949;
    /* font-size: 0.9rem; */
    font-weight: bold;
    font-style: italic;
}

/* HOME MAIN */

.home-section {
    height: 100vh;
    /* height: 600px; */
    background: no-repeat center center;
    background-size: cover;
    display: flex;
}

.home-section__1 {
    background-image: url(../images/catalogue_full_width/3092_situ_1.jpg);
    justify-content: flex-end;
}

.home-section__2 {
    background-image: url(../images/catalogue_full_width/3149_situ_1.jpg);
    justify-content: flex-start;
}

.home-section__3 {
    background-image: url(../images/catalogue_full_width/6153_situ_2.jpg);
    justify-content: flex-end;
}

.home-section__4 {
    background-image: url(../images/catalogue_full_width/6103_situ_2.jpg);
    justify-content: flex-start;
}

.home-section__5 {
    background-image: url(../images/catalogue_full_width/6154_situ_1.jpg);
    justify-content: flex-end;
}


.home-section__text {
    width: 30%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,.7);
    color: white;
    /* text-shadow: 2px 2px 2px black; */

    visibility:hidden;
}

.home-section__text>h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 1.8em;
    width: 100%;
}

.home-section__text>p {
    font-size: 1.1em;
}


/* TEXT ANIMATIONS : NEED TO ADD display:none AND ADD JS rules to start transition when scroll / viewport ok*/ 
.home-section__text__move-left {
    animation-name: moveLeft;
    animation-duration: 2s;
    animation-timing-function:  ease;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
}
.home-section__text__move-right {
    animation-name: moveRight;
    animation-duration: 2s;
    animation-timing-function:  ease;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
}

@keyframes moveLeft {
    0% {
        opacity:0;
        transform: translateX(200px);
    }
    100% {
        opacity:1;
        transform: translateX(0);
        visibility: visible;
    }
}
@keyframes moveRight {
    0% {
        opacity:0;
        transform: translateX(-200px);
    }
    100% {
        opacity:1;
        transform: translateX(0);
        visibility: visible;
    }
}

/* FOOTER */

footer {
    display:flex;
    flex-wrap: wrap;
    background-color: #F2EAE4;
    /* background-color: #EEE2DC;  */
    /* #F0EEEE; */
    padding:1rem;
    position: relative;
    font-size:0.8em;    
}

.footer__tagline {
    width:30%;
    font-size:1.5em;
    font-family: 'Lora', serif;
    font-weight: bold;
    padding-top: 2rem;
}

.footer__infos {
    display:flex;
    flex-wrap: wrap;
    width:70%;
}

.footer-top {
    width: 100%;
    display:flex;
    /* justify-content: space-around; */
    /* justify-content: flex-end; */
    margin-bottom: 2rem;
}

.footer-top>section {
    margin-left: 5rem;
}

.footer-bottom {
    width: 100%;
    display:flex;
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
}

.col {
    display:flex;
    flex-direction: column;
}

.footer-bottom__col {
    align-items:center;
    margin-left: 5rem;
}

.footer__icon {
    width:3em;
    margin-bottom: 0.4rem;
}

.footer-top h3 {
    font-size: 1.5em;
    font-weight: bold;
}


/* PAGE CONTACT */
.contact__main {
    margin: 2rem;
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
}

.contact__title {
    margin-bottom: 2rem;
    font-size: 1.5em;
    font-weight: bold;
    /* width: 100%; */
}

.contact__action, .contact__info {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.contact__vertical-line {
    height: 300px;
    border-left: 2px solid black ;
}

/* CONTACT ACTION */
.contact__action__phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:50%;
    margin-right:2em;
    padding: 0.8em;
    border-radius: 30px;
    font-weight: bold;
    background-color: black;
    color: white;
}

.contact__action__phone__name {
    margin-bottom: 0.5em;   
}

.contact__action__form {
    width:50%;
    display: flex;
    flex-direction:column;
    /* flex-wrap: wrap; */
    padding: 2em;
    margin-left: 2em;
    background-color: #F0EEEE;
}

.contact__label {
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom:0.5rem;
}

.contact__form__button {
    margin-top: 1rem;
}

.g-recaptcha {
    margin-top:1rem;
}

/* form modal success / error */
.modal {
    display: none;
    position: fixed;
    z-index: 10; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto; /* Enable scroll if needed */
    border-radius: 20px;
    vertical-align: middle; 
}

.success-modal {
    background-color: lightgreen;
    color:green;
    font-size:1.1em;
}

.fail-modal {
    background-color: lightcoral;
    font-size:1.1em;
}

.show-modal {
    display:flex;
}

.contact__form__modal {
    width: 50%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}
  
  
  /* The Close Button of the modal*/
  .modal-close {
    color: black;
    float: right;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .modal-close:hover,
  .modal-close:focus,
  .modal-close:active {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
  }


  #page-mask {
    display:none;
    position: fixed;
    z-index:9;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }


/* CONTACT INFOS */
.contact__info__store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   

    margin-right: 2em;
}

.contact__info__store__item {
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
}

.contact__info__store__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}


.contact__info__store-name {
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.tagline-presta {
    font-weight: normal;
    font-style:italic;
}


.contact__info__maps {
    margin-left: 2em;
}

.contact__main>p>strong {
    font-weight: bold;
    font-style: italic;
}


/* CATALOGUE */

.catalogue__sect1, .catalogue__sect2, .catalogue__sect3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.generic__section__text__container {
    width:60%;
    text-align: justify;
    margin-bottom: 3rem;
}

.catalogue__sect1__button__container {
    text-align: center;
}
.catalogue__sect1__button__container p {
    margin-bottom: 1rem;
}

.generic__section__h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 3rem;
    line-height: 1;
}

.catalogue__sect2__carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.catalogue__sect2__carousel__slide-number {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5em;
}

.catalogue__sect2__carousel__images {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.catalogue__sect2__carousel__image--main {
    max-width: 400px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.catalogue__sect2__carousel__image--small {
    max-width:150px;
    /* max-height:100px; */
    margin:1rem;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}
.catalogue__sect2__carousel__image--small:hover {
    opacity: 1;
}

.catalogue__sect2__carousel__image--small>img {
    width:100%;
    height:100%;
}
.catalogue__sect2__carousel__image--main>img {
    width:100%;
}
  /* SLIDESHOW */

.pointer__prev, .pointer__next {
    color: black;
    cursor: pointer;
    width: auto;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    padding: 16px;
    user-select: none;
    border-radius: 15%;
}

/* On hover, add a black background color with a little bit see-through */
.pointer__prev:hover, .pointer__next:hover, .pointer__prev:active, .pointer__next:active {
    background-color: rgba(0,0,0,0.3);
}

/* CATALOGUE SECTION 3 */
.catalogue__sect3__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.catalogue__sect3__article {
    width:18%;
    margin-right: 7%;
}
.catalogue__sect3__article>img {
    width:100%;
}

/* CATALOGUE PAGINATION */

.pagination_container {
    display:flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.pagination_container * {
    margin: 0 0.5rem;
    border-radius: 10px;
    background-color: #eee;
    color: black;
    transition: 0.4s;
}

.pagination_container .pagination_prev_next, .page_number {
    cursor: pointer;
}

.page_number {
    width:2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active_page {
	background-color: #D9C5B4;
}

.pagination_prev_next {
    padding: 0.5rem;
}

.page_number:hover, .pagination_prev_next:hover, .page_number:active, .pagination_prev_next:active {
	background-color: #D9C5B4;
}





/* PAGE NETTOYAGE */
.nettoyage_main {
    /* margin: 2rem; */
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
}

.nettoyage__sect1, .nettoyage__sect3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.nettoyage__sect1 {
    text-align: center;
}
.nettoyage__sect2 {
    background-color: #EEE2DC;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.catalogue__sect1__warning__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nettoyage__sect1__warning__icon {
    width: 1.5rem;
    margin-top:1rem;    
    text-align: center;
    /* margin-bottom: 0.5rem; */
}

.nettoyage__sect1__warning__text {
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.2;
}

.nettoyage__sect2__img {
    width: 65%;
}


.nettoyage__sect3__container__img {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nettoyage__sect3__figure {
    position: relative;
    float: left;
}

.nettoyage__sect3__img {
    height: 200px;   
}

.nettoyage__sect3>a {
      margin-top: 2rem;
      margin-bottom: 1rem;
  }

/* NOTRE SOCIETE */

.societe__section {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.societe__section__container {
    display: flex;
    width: 100%;
}

.societe__section__container > * {
    width: 45%;
    margin-right: 2rem;
}

.societe__section img {
    width: 100%;
}

.societe__section figcaption {
    font-size: 0.8rem;
}

.multiple-paragraphs__container > p{
    padding-bottom: 0.4rem;
}

/* MEDIA QUERIES */

/* COMMON TO EACH PAGE */

/* BODY */

@media (max-width: 700px) {
    body {
        font-size:0.9rem;
        text-align:center;
    }
}

/* HEADER */
@media (max-width: 700px) {
    header {text-align:center;}
    .logo__carpet {display:none;}
    .logo {display:block;}
    .header-top, .header-nav__sub-container {
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    .header-top__left, .header-top__right {
        width:100%;
    }
    .header-top__left, .header-top__tagline-spe {
        margin-bottom:1em;
    }

    .header-nav__sub-container>li {
        padding: 0.5em 0em;
    }
    .header-sticky {
        position:static;
    }
}

/* FOOTER */
@media (max-width: 700px) {
    footer {
        text-align: center;
        font-size:1em;
    }
    .footer__tagline { display:none;}
    .footer__infos {width:100%;}
    .footer-top, .footer-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-top>section, .footer-bottom__col {
        margin-left:0;
        margin-bottom: 1rem;
        /* align-items:flex-start; */
    };
}


/* INDEX */
@media (max-width: 700px) {
    .home-section {
        justify-content:center;
        align-items:center;
    }
    .home-section__text {
        visibility: visible;
        width:70%;
    }
    .home-section__text>*{
        margin-bottom:1.5em;
    }
    
}

/* NETTOYAGE */
@media (max-width: 700px) {
    .generic__section__text__container {
        width:80%;
    }
    .nettoyage__sect3__container__img {
        flex-direction: column;
        align-items: center;
    }
    .hide-on-phone {
        display:none;
    }
}

/* CATALOGUE */
@media (max-width: 700px) {
    .catalogue__sect1, .catalogue__sect2, .catalogue__sect3 {
        padding:0;
    }

    .catalogue__sect2__carousel__image--small {
        display:none;        
    }

    .catalogue__sect3__articles {
        justify-content:center;
        align-items:center;
    }
    .catalogue__sect3__article {
        width:55%;
        margin:0;
    }

}

/* CONTACT */
@media (max-width: 700px) {
    .contact__action, .contact__info {
        align-items:center;
        justify-content: center;
        flex-direction:column;
        width:100%;
    }
    .contact__vertical-line {
        display:none;
    }
    .contact__action__phone, .contact__action__form {
        width:80%;
        margin:0 0 2em 0;
    }
    .g-recaptcha {
        transform:scale(0.85);
        -webkit-transform:scale(0.85);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .contact__info__store, .contact__info__maps {
        margin-right:0;
        margin-left:0;
    }
    .modal {
        position: absolute;
        top: 100%;
    }
}
