<section class="footer__tagline">
    <p>Galerie Shéhérazade</p>
    <p class="tagline-presta">Votre spécialiste tapis persan à Nancy depuis 1974</p>
</section>

<section class="footer__infos">

    <section class="footer-top">
        <section>
            <h3>Prestations</h3>
            <ul>
                <li><a href="./catalogue.html">Vente</a></li>
                <li><a href="./nettoyage.html">Nettoyage</a></li>
                <li><a href="./nettoyage.html">Restauration</a></li>
            </ul>
        </section>
        <section>
            <h3>Contact</h3>
            <ul>
                <li><a href="./contact.html">Téléphone</a></li>
                <li><a href="./contact.html">Adresse</a></li>
            </ul>
        </section>
        <section>
            <h3>Suivez-nous</h3>
            <ul>
                <li><a href="https://www.facebook.com/tapis54">
                    <img class="logo__social_media" src="./images/logos/logo_facebook_white_on_black.png" alt="logo facebook" />
                </a></li>
                <li><a href="https://www.youtube.com/watch?v=q4Co_JL8yhQ">
                    <img class="logo__social_media" src="./images/logos/logo_youtube_white_on_black.png" alt="logo youtube" />
                </a></li>
            </ul>
        </section>
        <!-- <section>
            <h3>Notre Société</h3>
            <ul>
                <li><a href="#société shéhérazade">Qui sommes-nous</a></li>
                <li><a href="#tapis persan"></a>Le tapis persan</li>
            </ul>
        </section> -->
    </section>
    
    <section class="footer-bottom">
        <div class="col footer-bottom__col">
            <img class="footer__icon" src="./images/icons/devis_clear.png" alt="icône devis">
            <span>Devis gratuit</span>
        </div>
        <div class="col footer-bottom__col">
            <img class="footer__icon" src="./images/icons/delivery_clear.png" alt="icône devis">
            <span>Enlèvement et livraison</span>
        </div> 
        <div class="col footer-bottom__col">
            <img class="footer__icon" src="./images/icons/guarantee_clear.png" alt="icône devis">
            <span>Garantie décennale</span>
        </div>
        <div class="col footer-bottom__col">
            <img class="footer__icon" src="./images/icons/payment_clear.png" alt="icône devis">
            <span>Facilité de paiement</span>
        </div>
    </section>
    
</section>
