<section class="footer-top">
    <div>
        <h3>Prestations</h3>
        <ul>
            <li><a href="./catalogue.html">Vente</a></li>
            <li><a href="./nettoyage.html">Nettoyage</a></li>
            <li><a href="./nettoyage.html">Restauration</a></li>
        </ul>
    </div>
    <div>
        <h3>Contact</h3>
        <ul>
            <li><a href="./contact.html">Téléphone</a></li>
            <li><a href="./contact.html">Adresse</a></li>
        </ul>
    </div>
    <div>
        <h3>Suivez-nous</h3>
        <ul>
            <li><a href="https://www.facebook.com/tapis54">
                <img class="logo__social_media" src="./images/logos/logo_facebook_white_on_black.png" alt="logo facebook" />
            </a></li>
            <li><a href="https://www.youtube.com/watch?v=q4Co_JL8yhQ">
                <img class="logo__social_media" src="./images/logos/logo_youtube_white_on_black.png" alt="logo youtube" />
            </a></li>
        </ul>
    </div>
    <!-- <div>
        <h3>Notre Société</h3>
        <ul>
            <li><a href="#société shéhérazade">Qui sommes-nous</a></li>
            <li><a href="#tapis persan"></a>Le tapis persan</li>
        </ul>
    </div> -->
</section>

<section class="footer-bottom">
    <div>devis gratuit</div>
    <div>enlèvement et livraison</div>
    <div>garantie décennale</div>
    <div>facilité de paiement</div>
</section>

<!-- <div class="social-media">
    <a href="#facebook">facebook logo</a>
    <a href="#youtube">youtube logo</a>
</div> -->