<nav class="header-nav__container">
    <ul class="header-nav__sub-container">
        <li><a class="header-nav__sub-container__item" href="./index.html">ACCUEIL</a></li>
        <li><a class="header-nav__sub-container__item" href="./catalogue.html">CATALOGUE</a></li>
        <li><a class="header-nav__sub-container__item" href="./nettoyage.html">NETTOYAGE RESTAURATION</a></li>
        <li><a class="header-nav__sub-container__item" href="./notre_societe.html">NOTRE SOCIETE</a></li>
        <li><a class="header-nav__sub-container__item" href="./contact.html">CONTACT</a></li>
    </ul>
</nav>

<section class="header-covid">
    <p>DECEMBRE : OUVERTURE EXCEPTIONNELLE DU MARDI AU SAMEDI - 14H30/18h</p>
    <p>Ouvert toute l'année sur RDV : 07 60 10 15 63 | fa.nafissi@gmail.com</p>
    <!-- <p>VISITE SUR RDV UNIQUEMENT</p>
    <p>Contactez-nous au 07 60 10 15 63 ou par email : fa.nafissi@gmail.com</p>
    <p>La Galerie Shéhérazade vous reçoit du lundi au samedi, de 14h30 à 19h</p> -->
</section>
