<nav class="header-nav__container">
    <ul class="header-nav__sub-container">
        <li><a class="header-nav__sub-container__item" href="./index.html">ACCUEIL</a></li>
        <li><a class="header-nav__sub-container__item" href="./catalogue.html">CATALOGUE</a></li>
        <li><a class="header-nav__sub-container__item" href="./nettoyage.html">NETTOYAGE RESTAURATION</a></li>
        <li><a class="header-nav__sub-container__item" href="./notre_societe.html">NOTRE SOCIETE</a></li>
        <li><a class="header-nav__sub-container__item" href="./contact.html">CONTACT</a></li>
    </ul>
</nav>

<section class="header-covid">
    <p>La Galerie Shéhérazade vous reçoit en toute sécurité du lundi au samedi, de 14h30 à 19h</p>
</section>