<div class="header-top">
    <section class="header-top__left">
        <a class="logo" href="index.html">
            <h1>Galerie Shéhérazade</h1>
            <!-- <img class="logo__carpet" src="./images/logos/logo_450x450.png" alt="logo tapis Shéhérazade" /> -->
        </a>

        <div class="header-top__tagline-presta">
            <p>Votre spécialiste tapis persan à Nancy depuis 1974</p>
        </div>
    </section>
    
    <section class="header-top__right">
        <div class="header-top__tagline-spe">
            <p>Vente, nettoyage et réparation de tapis d'orient et persan</p>
        </div>
        
        <a class="button button--red button--header" href="./contact.html">Prendre RDV</a>

    </section>
</div>